body {
      background:  #cce0ff  ;
      color: #767270;
      padding: 1%;
      font-size: 14px;
      font-family: verdana, sans-serif;

    }
    
    .sidebar {
      width:30%;
      display: inline-block;
      margin-left: 10%;
      background: #5da4d9;
      color: white;
    }

    img {
      width: 100%;
    }

    .sidebar-top { position: relative; }

    .profile-basic {
      position: absolute;
      bottom: 5px;
      left: 10px;
      color: blue;
    }

    .profile-info {
      padding: 20px 10px;
      border-bottom: 1px solid #4783c2;
    }


 .profile-info h1{
      margin-top:0;
    }
     .profile-info p{
      margin-left: 10px;
      display: inline-block;
      vertical-align: top;
    }

    .profile-info .key{
      font-weight: bold;  
    }
    

    .profile-info .value{
    }

    .social-media: hover{
      cursor: pointer;
      color: white;
    }

    .content {
      width: 47%;
      margin-left: 1%;
      display: inline-block;
      vertical-align: top;
    }

    .Other-Activity, .education, .achievment{
      margin-bottom: 10px;
      padding: 2% 1% 2% 6%;
      background: white;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.12);
    }

    .info {
      padding: 1% 1%;
      border-bottom: 1px solid #bdbdbd;
    }
    

    .sub-heading { 
      font-weight: bold;       
    }

    .duration {
      color: #5da4d9;
      font-size:12px;
    }

    .heading{
      /*font-family: 'Cherry Swash', cursive;*/
      font-family: 'Bungee Shade', cursive;
    }

    .fa {
      color: white;
      font-size: 25px; 
    }

    .fa-facebook, .fa-instagram {
      color: blue;
      font-size: 35px;
    }

    .fa-book, .fa-graduation-cap, .fa-pencil-square-o{
      color: black;
    }

    .sidebar .social-media{
      margin-right: 10px;
      text-decoration: none;
      color: #fff;
    }

.profileBox{
  width: 94%;
  padding: 3%;
  background: #000;


}
.profileBox h1{

      position: absolute;
    width: 94%;
    bottom: -4px;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 9px 0;
}
